<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studdybuddy.finalstudybuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FinalStudyBuddy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="FinalStudyBuddy"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PostActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".PA200"
            android:parentActivityName=".MAtwohun"/>
        <activity android:name=".PA240"
            android:parentActivityName=".MAtwoforty"/>
        <activity android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Classlist" />
        <activity android:name=".MAtwoforty"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MAtwohun"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".PASPA1"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".PASPA2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".PASPA3"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ProfileActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".SinglePostActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".CSPA"
            android:parentActivityName=".SinglePostActivity"></activity>
        <activity android:name=".CSPA2"
            android:parentActivityName=".SPA200"></activity>
        <activity android:name=".CSPA3"
            android:parentActivityName=".SPA240"></activity>


        <activity
            android:name=".SPA200"
            android:parentActivityName=".MAtwohun" />
        <activity
            android:name=".SPA240"
            android:parentActivityName=".MAtwoforty" />
    </application>

</manifest>